<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>HZ</title>
  </head>
  <body>
    <div id="header">
      <h1>
        Даниил Запылихин
      </h1>
      <h2 class="header-title">
        Веб-разработчик
      </h2>
      <p>
        <a href="mailto:qwerty-2408@mail.ru">qwerty-2408@mail.ru</a>, <a href="https://github.com/MishkaTrusishka">https://github.com/MishkaTrusishka</a>
      </p>
    </div>
    <div>
      Что тут вообще должно быть?
      <h2>
        Опыт работы
      </h2>
      Какая-то компания<br>Какая-то должность и какая-то дата
      <ul>
        <li>Какая-то обязанность</li>
        <li>Какая-то обязанность</li>
      </ul>
      Какая-то компания<br>Какая-то должность и какая-то дата
      <ul>
        <li>Какая-то обязанность</li>
        <li>Какая-то обязанность</li>
        <li>Какая-то обязанность</li>
      </ul>
      <h2>
        Образование
      </h2>
      Какой-то университет
      Какая-то профессия
      <br>
      Какие-то курсы
      Какие-то знания
      <h2>Дополнительные навыки и увлечения</h2>
      <ul>
        <li>Долбить соли</li>
        <li>Играть доту</li>
        <li>Бухать</li>
      </ul>
    </div>
    <div id="footer">
      Даниил Запылихин
      <br>
      Ул. Рощинская, 21, г.Гатчина, +79046177848, <a href="mailto:qwerty-2408@mail.ru">qwerty-2408@mail.ru</a>
    </div>
  </body>
</html>
